body{
  background-color: rgb(37, 37, 37);
}
.home{
  background-image: url(./components/images/Eberron.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 3%;
  margin-left: 10%;
  width: 80%;
  padding-top: 100%;
  text-shadow: 1px 1px black;
}
.sharn{

  background-image: url(./components/images/Sharn.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 3%;
  margin-left: 10%;
  width: 80%;
  padding-top: 100%;
  text-shadow: 1px 1px black;
}
.jumbotron {
  font-family: 'Metal Mania', cursive;
  position: absolute;
  left: 13%;
  width: 73%;
  top: 5%;
  background-color: transparent;
  text-align: center;
  color: tomato;
}
h1{
  font-size: xx-large;
}
.Oswald{
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
}