body{
  background-color: rgb(37, 37, 37);
}
.home{
  border: 5px groove burlywood;
  background-image: url(./components/images/Eberron.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 3%;
  width: 100%;
  padding-top: 125%;
  
}
.sharn{
  border-radius: 45px 55px 65px 65px;
  border: 5px groove burlywood;
  background-image: url(./components/images/Sharn.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 3%;
  margin-left: 11%;
  width: 76.5%;
  padding-top: 99%;
}
.Apok{
  border-radius: 45px 55px 65px 65px;
  border: 5px groove burlywood;
  background-image: url(./components/images/Apok.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  width: 93%;
  padding-top: 129%;
}
.Silvertone{
  border-radius: 45px 55px 65px 65px;
  border: 5px groove burlywood;
  background-image: url(./components/images/Silvertone.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  width: 93.5%;
  padding-top: 123%;
}
.Keys{
  border-radius: 45px 55px 65px 65px;
  border: 5px groove burlywood;
  background-image: url(./components/images/Keys.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  width: 90%;
  padding-top: 125.4%;
}
.Needles{
  border-radius: 45px 55px 65px 65px;
  border: 5px groove burlywood;
  background-image: url(./components/images/Goblin.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  width: 90%;
  padding-top: 102.6%;
}
.Duncan{
  border-radius: 45px 55px 65px 65px;
  border: 5px groove burlywood;
  background-image: url(./components/images/Duncan.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  width: 84.5%;
  padding-top: 125%;
}
.Josh{
  border-radius: 45px 55px 65px 65px;
  border: 5px groove burlywood;
  background-image: url(./components/images/Josh.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  width: 95%;
  padding-top: 93.6%;
}
.Megan{
  border-radius: 45px 55px 65px 65px;
  border: 5px groove burlywood;
  background-image: url(./components/images/artificer.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  width: 88%;
  padding-top: 120%;
}
.Naga{
  border-radius: 45px 55px 65px 65px;
  border: 5px groove burlywood;
  background-image: url(./components/images/Naga.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  width: 86%;
  padding-top: 124%;
}
.card {
  margin: 2%;
  width: 96%;
  text-align: center;
  font-size: 1.3rem;
}
.card-header {
  font-family: 'Metal Mania', cursive;
  text-shadow: 2px 2px red;
  font-size: 3rem;
}
.jumbotron {
  font-family: 'Metal Mania', cursive;
  position: absolute;
  left: 13%;
  width: 73%;
  background-color: transparent;
  text-align: center;
  color: rgb(199, 109, 36);
  text-shadow: 3px 3px rgb(62, 1, 65);
}
h1{
  font-size: x-large;
}
.Oswald{
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
}